* {
  padding: 0;
  margin: 0;
  font-family: Dm sans;
}
.header {
  background: #6360ff;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 20px;
}
.header-icon {
  width: 20px;
  height: 20px;
  transform: rotate(-180deg);
}
.header-title {
  font-size: 18px;
  color: #fff;
}
.firstplaylist {
  width: 100%;
}
.video-iframe {
  border: none;
}

.tabs-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 52px;
  font-size: 16px;
  margin-top: -5px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-weight: bold;
  font-size: 12px;
}
.one {
  background-color: #fff;
  color: #161719;
}
.two {
  background-color: #f1f1fa;
  color: #91919f;
}
.back-arrow {
  transform: rotate(90deg);
}
.section-without-checkbox {
  display: flex;
  flex-direction: column;
  align-items: start-end;
  padding: 0px 20px;
  margin-top: 15px;
}
.title {
  color: #161719;
  font-size: 18px;
  line-height: 18px;
}
.secound-line {
  display: flex;
  flex-direction: row;
}
.details {
  color: #91919f;
  font-size: 12px;
}
.section-with-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.red-label {
  height: 20px;
  width: 20px;
}
.intro {
  margin-top: 10px;
}
.first {
  margin-top: 5px;
}
.first-box {
  border-top: 1.5px solid #91919f94;
}
input[type="checkbox"] {
  margin-top: -30px;
}

input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 25px;
  height: 25px;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 25px;
  position: absolute;
  cursor: pointer;
  height: 25px;
  width: 25px;
  left: 0;
  top: 0;
  font-size: 20px;
  -webkit-box-shadow: inset 0 1px 1px #c0c3c9, 0 1px 0 #ff8181;
  -moz-box-shadow: inset 0 1px 1px #ff8181, 0 1px 0 #ff8181;
  box-shadow: inset 0 1px 1px #ff8181, 0 1px 0 #ff8181;
  background: #ff8181;
  border-radius: 2px;
}

input[type="checkbox"]:checked:after {
  background: #ff8181;
  content: "\2714";
  color: #fff;
}
@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .video-iframe {
    height: 500px;
  }
  .video-section {
    width: 60%;
  }
  .course-content {
    width: 50%;
  }
  .tabs-container {
    margin-top: 0;
  }
}
@media (min-width: 786px) and (max-width: 1023px) {
  .video-iframe {
    height: 350px;
  }
}
